name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '8'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer==1.4.0
          pip install cython==0.29.33

      - name: Accept Android SDK licenses
        run: yes | sdkmanager --licenses || true

      - name: Build APK
        run: buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: goldtradingpro-apk
          path: bin/*.apk
          if-no-files-found: error
