name: Build APK
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      
      - name: Install Buildozer
        run: pip install buildozer==1.4.0 cython==0.29.33
      
      - name: Build
        run: buildozer -v android debug
      
      - uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
